<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Administrar Funcionário</title>
</head>

<body>
    <a href="../inicio.html" class="back-button">Voltar para Página Inicial</a>
    
    <h1>Funcionários</h1>
    <form id="form_Funcionario">
        <input type="hidden" id="id">
        
        <label for="primeiro_nome">Nome</label>
        <input type="text" id="primeiro_nome">
        
        <label for="sobrenome">Sobrenome</label>
        <input type="text" id="sobrenome">
        
        <label for="cpf">CPF</label>
        <input type="text" id="cpf">
        
        <label for="email">Email</label>
        <input type="text" id="email">
        
        <label for="nascimento">Nascimento</label>
        <input type="text" id="nascimento">
        
        <label for="salario">Salário</label>
        <input type="text" id="salario">
        
        <button id="btSalvar">Salvar</button>
    </form>
    <hr>
    <table border="1">
        <thead>
            <tr>
                <th>NOME</th>
                <th>SOBRENOME</th>
                <th>CPF</th>
                <th>EMAIL</th>
                <th>NASCIMENTO</th>
                <th>Salário</th>
                <th>OPÇÕES</th>
            </tr>
        </thead>
        <tbody id="tbody1"></tbody>
    </table>
</body>
<script src="manipula_interface_funcionarios.js" type="module"></script>

</html>
